<svg class="sas-icon sas-icon-{{name}}{{#if additionalClass}} {{additionalClass}}{{/if}}"{{#if text}} role="img"{{else}} role="presentation"{{/if}}>
  <use xlink:href="#{{name}}" href="#{{name}}"></use>
  {{#if text}}
    <title>{{text}}</title>
  {{/if}}
</svg>
